.cover__link {
  width: 100%;
  min-height: 740px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  position: relative;
  z-index: 3;

  background: url('../../../images/1280/cover/__background.jpg') center / cover;

  text-decoration: none;

  -webkit-transition: background 0.5s ease-out;

  -o-transition: background 0.5s ease-out;

  transition: background 0.5s ease-out;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
}

.cover__link:link,
.cover__link:visited {
  color: #FFFFFF;
}

.cover__link::after {
  content: '';

  width: 100%;
  height: 100%;

  position: absolute;
  z-index: -1;

  background: rgba(42, 44, 47, 0.3);

  -webkit-transition: background 0.3s ease;

  -o-transition: background 0.3s ease;

  transition: background 0.3s ease;
}

.cover__link:hover::after {
  background: rgba(42, 44, 47, 0.8);
}

@media screen and (max-width: 1201px) {
  .cover__link {
    min-height: 62.5vw;
  }
}

