.cover__link {
  width: 100%;
  min-height: 740px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  z-index: 3;

  background: url('../../../images/1280/cover/__background.jpg') center / cover;

  text-decoration: none;

  transition: background 0.5s ease-out;

  box-sizing: border-box;
}

.cover__link:link,
.cover__link:visited {
  color: #FFFFFF;
}

.cover__link::after {
  content: '';

  width: 100%;
  height: 100%;

  position: absolute;
  z-index: -1;

  background: rgba(42, 44, 47, 0.3);

  transition: background 0.3s ease;
}

.cover__link:hover::after {
  background: rgba(42, 44, 47, 0.8);
}

@media screen and (max-width: 1201px) {
  .cover__link {
    min-height: 62.5vw;
  }
}

/*  Большое спасибо за ревью! С наступающим вас :)  */
