.cover__link {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;

  background: rgba(42, 44, 47, 0.3);

  text-decoration: none;

  transition: background 0.5s ease-out;

  box-sizing: border-box;
}

.cover__link:link,
.cover__link:visited {
  color: #FFFFFF;
}

.cover__link:hover {
  background: rgba(42, 44, 47, 0.8);

  transition: background 0.3s ease;
}
