.photo-grid {
  max-width: 1184px;
  padding: 92px 0 0;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 213px;
  grid-gap: 16px;

  box-sizing: border-box;
}


@media screen and (max-width: 1279px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 225px;
    grid-gap: 14px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    padding: 88px 0 0;

    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 264px;
    grid-gap: 16px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    grid-template-columns: 1fr;
    grid-auto-rows: 264px;
    grid-gap: 16px;
  }
}

@media screen and (max-width: 390px) {
  .photo-grid {
    padding: 64px 0 0;

    grid-auto-rows: 216px;
    grid-gap: 12px;
  }
}
