.photo-grid {
  padding: 92px 0 0;

  box-sizing: border-box;
}


@media screen and (max-width: 1023px) {
  .photo-grid {
    padding: 88px 0 0;
  }
}

@media screen and (max-width: 390px) {
  .photo-grid {
    padding: 64px 0 0;
  }
}
