.page__link {
  transition: opacity 0.2s ease;
}

.cover__link:link,
.cover__link:visited {
  color: #FFFFFF;
}

.page__link:hover {
  opacity: 0.8;
}

.page__link:focus {
  outline: 1px solid #e3b26f;
}
