.footer__links {
  margin: 0;
  padding: 0;

  display: flex;

  list-style-type: none;
}

.footer__links > :not(:last-child) {
  padding-right: 18px;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .footer__links {
    padding-bottom: 48px;

    flex-direction: column;
  }

  .footer__links > :not(:last-child) {
    padding-bottom: 32px;
  }
}
