.intro {
  max-width: 984px;
  padding: 92px 0 0 100px;

  align-self: flex-start;
  box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
  .intro {
    padding: 92px 0 0 48px;
  }
}



@media screen and (max-width: 1023px) {
  .intro {
    padding: 88px 24px 0;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    padding: 64px 16px 0;
  }
}
