.intro {
  width: 100%;
  max-width: 984px;
  padding: 92px 0 0;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
}

@media screen and (max-width: 1097px) {
  .intro {
    width: 90vw;
    padding: 92px 0 0;
  }
}


@media screen and (max-width: 1023px) {
  .intro {
    padding: 88px 0 0;
  }
}

@media screen and (max-width: 948px) {
  .intro {
    width: 100%;
    padding: 88px 24px 0;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    padding: 64px 16px 0;
  }
}
