.place__website {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}


@media screen and (max-width: 767px) {
  .place__website {
    padding: 0 16px;

    -ms-flex-item-align: start;

        align-self: flex-start;
  }
}
